﻿@model MrCMS.Web.Apps.Ecommerce.Models.AddPriceBreakModel
@{ 
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("Add", "PriceBreak", FormMethod.Post))
{
    <fieldset>
        <legend>
            Add Price Break
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn btn-primary" value="Add Price Break" />
            </span>
        </legend>
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Quantity)
            @Html.TextBoxFor(model => model.Quantity, new{@class="form-control"})
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price)
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
    </fieldset>
}