﻿html, body { min-width: 255px; }
* { border-radius: 0 !important;}
body { font-family: Arial, Verdana, sans-serif; color: #444444; font-size: 14px; }

/* Font Styles */
a { color: #4679C3; }
h1 { font-size: 22px; line-height: 26px; margin: 0 0 10px 0; padding: 0; color: #333333; }
h2 { font-size: 20px; line-height: 26px; margin: 0 0 10px 0; padding: 0; font-weight: normal; }
h3 { font-size: 18px; line-height: 26px; margin: 0 0 10px 0; padding: 0; font-weight: normal; }
h4 { font-size: 15px; line-height: 20px; margin: 0 0 10px 0; padding: 0; font-weight: normal; }

/* Shared */
.padding-0 { padding: 0; }
.padding-top-bottom-9 { padding-top: 9px; padding-bottom: 9px; }
.padding-top-bottom-10 { padding-top: 10px; padding-bottom: 10px; }
.margin-top-bottom-30 { margin: 30px 0; }
.padding-top-bottom-20 { padding-top: 20px; padding-bottom: 20px; }
.margin-top-bottom-10 { margin: 10px 0; }
.padding-top-10 { padding: 10px 0; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-20 { padding-bottom: 20px; }
.padding-left-0 { padding-left: 0; }
.padding-right-0 { padding-right: 0; }
.padding-right-10 { padding-right: 10px; }
.padding-left-10 { padding-left: 10px; }
.margin-top-70-bottom-30 { margin-top: 70px; margin-bottom: 30px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-10 { margin-top: 10px; }
.margin-0 { margin-left: 0; margin-right: 0; }
.margin-bottom-0 { margin-bottom: 0; }
.grey-border { border: 1px solid #f0f0f0; }
.grey-border-right { border-right: 1px solid #f0f0f0; }
.grey-border-top-bottom { border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; }
.grey-border-top { border-top: 1px solid #f0f0f0; }
.grey-border-bottom { border-bottom: 1px solid #f0f0f0; }
.line-height-30 { line-height: 30px; }
.padding-20 { padding: 20px; }
.carousel-control.left {background-image: none;}
.carousel-control.right {background-image: none;}
.btn-primary {
 background-image: -webkit-linear-gradient(top, #99c413 0%, #88A825 100%);
background-image: -o-linear-gradient(top, #99c413 0%, #88A825 100%);
background-image: -webkit-gradient(linear, left top, left bottom, from(#99c413), to(#88A825));
background-image: linear-gradient(to bottom, #99c413 0%, #88A825 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c413', endColorstr='#88A825', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
background-repeat: repeat-x;
border-color: #88A825;color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);   
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:hover,.btn-primary:hover, .open .dropdown-toggle.btn-primary {color: #ffffff;background-image: none;background-color:#89ae18;border-color:#99c413;}
.payment {font-size:13px;}

/*Header*/
header { height: 50px; }
    header .logo { max-width: 200px; padding-top: 5px; }
    header .search-box { width: 400px; padding-top: 8px; padding-right: 10px; }
    header .navbar-right > li { position: relative; display: inline-block; }
        header .navbar-right > li a:hover { background-color: inherit; }
        header .navbar-right > li a.checkout { background-color: #88A825; color: #fff; padding-left: 13px !important; padding-right: 13px !important; }
            header .navbar-right > li a.checkout:hover { background-color: #88A825; color: #fff; }
        header .navbar-right > li a.user, header .navbar-right li a.basket { padding-left: 18px !important; padding-right: 18px !important; }
        header .navbar-right > li a.basket { background-color: #333745; color: #fff; }
            header .navbar-right > li a.basket:hover { background-color: #333745; color: #fff; }

/*Navbar*/
nav.navbar { margin-bottom: 0; border-radius: 0; min-height: 20px; max-height: 40px; }
nav.navbar-inverse { background-color: #0172B7; border-color: #0172B7; background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%); background-image: -o-linear-gradient(top, #428bca 0%, #2d6ca2 100%); background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#2d6ca2)); background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; }
nav .navbar-nav > li > a { padding-top: 9px; padding-bottom: 9px; }
nav.navbar-inverse .navbar-nav > li > a { color: #fff; border-left: 1px solid #1B80BE; }
nav.navbar-inverse .navbar-nav > li.active > a { background: #145f8e; }
nav.navbar-inverse .navbar-nav > li > a:hover { background: #145f8e; }
nav.navbar-inverse .navbar-nav > li.active > a:hover { background: #145f8e; }
nav.navbar-nav.navbar-right:last-child { margin-right: 0; }
nav .navbar-collapse.collapse { padding-left: 0; }

/*Content*/
.value-props { background-color: #eeeeee; font-size: 13px; padding: 5px 0; }
    .value-props ul { margin: 0; padding: 0; list-style: none; }
        .value-props ul li { display: inline-block; padding-right: 10px; }

.title { border-left: 1px solid #f0f0f0; border-right: 1px solid #f0f0f0; border-top: 1px solid #f0f0f0; border-bottom: 1px solid #fff; display: inline-block; padding: 10px; position: absolute; top: -52px; left: 15px; }

.welcome-con { background: #ddd; }

#filter-container.collapse { display: block;}

/*Product Container*/
.product-con .product-info { /*border-right:1px solid #f0f0f0;*/ text-align: left; }
.product-con .product-image { text-align: center; position: relative; height: 185px; line-height: 185px;overflow: hidden; }
.col-sm-2 .product-con .product-image { min-height: 150px; line-height: 150px; }
.product-con .product-image img.offer { position: absolute; top: 0; left: 15px; }
.product-con a img.img-responsive { margin: 0 auto; }
.product-con a img:hover, .category-con a img:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; }
.product-con .product-name, .category-con .category-name { font-size: 15px; line-height: 20px; margin: 0 0 10px 0; padding: 0; font-weight: normal; }
.product-con .product-price { font-size: 15px; line-height: 20px; }
    .product-con .product-price .current-price { font-size: 18px; color: #EA2D48; font-weight: bold; line-height: 22px; display: block; }
    .product-con .product-price .old-price .inner { color: #444444; }
    .product-con .product-price .old-price { text-decoration: line-through; color: #EA2D48; }

/* Product details*/
.qty-input { width: 50px;}

/*Category Container*/
.category-con { margin-bottom: 10px; }
    .category-con .category-image { margin-bottom: 10px; min-height: 184px; }
        .category-con .category-image a img:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9; }
    .category-con .category-name { font-size: 15px; line-height: 20px; margin: 0 0 10px 0; padding: 0; font-weight: normal; }

.breadcrumb { margin-bottom: 0; background-color: #fff; border-radius: 0px; padding-left: 0; padding-right: 0; }
    .breadcrumb > li + li:before { content: "»"; padding: 0 5px 0 0; }

.widget-con { border: 1px solid #dddddd; margin-bottom: 20px; }
    .widget-con .title-con { background-color: #eeeeee; padding: 10px; color: #333333; }
    .widget-con .options-con { }
        .widget-con .options-con .option { border-top: 1px solid #dddddd; padding: 10px; }
            .widget-con .options-con .option .price-range { color: #4679C3; display: block; margin: 0 0 10px 0; }
/* ui slider start */
.ui-slider-horizontal { height: 2px; }
.ui-widget-content { border: none; background: #4679C3; color: #777777; margin: 10px 0 20px 0; }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: none; background: #4679C3; }
.ui-slider .ui-slider-handle { width: 11px; height: 11px; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: 0; }
/* ui slider end */

.block-title { padding: 10px 0;border-top: 1px solid #f0f0f0;border-bottom: 1px solid #f0f0f0;font-size: 20px;line-height: 24px;font-weight: normal;margin-bottom: 20px;}
.block-title h1 { margin: 0;}
.block-title .h1style { margin: 0;}

footer > .container .row > div { min-height: 200px;}

/*form validation*/
.field-validation-error {color: #cc0000 !important;}
.input-validation-error {border: 1px solid #cc0000 !important;}
.error {color: #cc0000 !important;}
.red { color: red;}

/*Contact Us*/
#map-canvas { height: 300px;}

#product-image-thumbnails {margin:0;}
#product-image-thumbnails ul {margin:0;padding: 0;}
#product-image-thumbnails ul li {margin:0;list-style-type: none;padding: 5px;border: 1px solid #f0f0f0;display: inline-block;}
#product-image-thumbnails ul li img {}
.product-image-box { padding: 10px 0;position: relative;}
.price { font-size: 28px;line-height: 34px;color: #87A725;font-weight: bold;}
.price span.instock { color: #87A725;font-size: 15px;font-weight: normal;}
.price span.previous-price .inner {color:#444444;}
.price span.previous-price {text-decoration:line-through;color:#EA2D48;font-size: 20px;line-height: 34px;font-weight: normal;}
.block-title { padding: 10px 0;border-top: 1px solid #f0f0f0;border-bottom: 1px solid #f0f0f0;font-size: 20px;line-height: 24px;font-weight: normal;margin-bottom: 20px;}
.block-title h1 { margin: 0;}
.block-title .h1style { margin: 0;}
table.price-break thead tr th { background: #f0f0f0;border-bottom: none;}
table.price-break tbody tr td { border-top: 1px dotted #ddd;}
.breadcrumb {margin-bottom:0;background-color: #fff;border-radius: 4px;padding-left: 0;padding-right: 0;}
.breadcrumb>li+li:before {content: "»";padding: 0 5px 0 0;}
.panel-group {border-top: 1px solid #f0f0f0;}
.panel { -webkit-box-shadow: none;box-shadow: none;}
.panel-default {border: none;}
.panel-default>.panel-heading {color: #4679C3;background-color: #fff;border-bottom: 1px solid #f0f0f0;}
.panel-group .panel-heading+.panel-collapse .panel-body { border-bottom: 1px solid #f0f0f0;border-top: none;}
.panel-group .panel+.panel {margin-top: 0;}
.panel-heading {padding: 10px 15px;background:url(/Apps/Ecommerce/Content/Images/indicator.png) no-repeat left center;}
#product-specifications table tr:first-child td { border-top: none;}

/* checkout css */
.checkout-header { border-bottom: 1px solid #e7e7e7;padding: 20px 0;}
.checkout-header .pull-right img{ float: right;}
.navigation {padding:10px 10px;}
.navigation a:hover { text-decoration: none;}
.navigation .col-md-3:first-child {border-radius:3px 0 0 3px;}
.navigation .col-md-3:last-child {border-radius:0 3px 3px 0;}
.light-grey {background:url(/Apps/Ecommerce/Content/Images/light-grey.jpg) repeat;padding:0 10px;position:relative;}
.dark-grey {background:url(/Apps/Ecommerce/Content/Images/dark-grey.jpg) repeat;padding:0 10px;position:relative;}
.light-green {background:url(/Apps/Ecommerce/Content/Images/light-green.jpg) repeat;padding:0 10px;position:relative;}
.dark-green {background:url(/Apps/Ecommerce/Content/Images/dark-green.jpg) repeat;padding:0 10px;position:relative;}
.circle {position:absolute;background:url(/Apps/Ecommerce/Content/Images/circle.png) no-repeat 0 0;top:-5px;left:30px;width:48px;height:47px;text-align:center;line-height:47px;font-family:arial,serif;font-size:21px;font-weight:bold;}
.navigation .col-md-3:first-child .circle {left:10px;}
.dark-green .circle, .light-green .circle {color:#71AC1F;}
.light-grey .circle, .dark-grey .circle {color:#999999;}
.pointer {position:absolute;right:-17px;top:0;height:37px;width:17px;z-index:2;}
.light-grey .pointer {background:url(/Apps/Ecommerce/Content/Images/light-grey-right.png) no-repeat 0 0;}
.dark-grey .pointer {background:url(/Apps/Ecommerce/Content/Images/dark-grey-right.png) no-repeat 0 0;}
.light-green .pointer {background:url(/Apps/Ecommerce/Content/Images/light-green-right.png) no-repeat 0 0;}
.dark-green .pointer {background:url(/Apps/Ecommerce/Content/Images/dark-green-right.png) no-repeat 0 0;}
.navigation .session {padding-left:80px;font-size:20px;line-height:37px;color: #ffffff;}
.navigation .col-md-3:first-child .session {padding-left:60px;}

/*Cart Widget*/
li a.notification {position:absolute;top:3px;right:3px;background:url(/Apps/Ecommerce/Content/Images/notification.png) no-repeat 0 0;width:24px;height:25px;color:#fff;font-size:12px;line-height:25px;padding:0;text-align:center;}
.product-image .e-tag-image {position:absolute;top:0;right:33px;}
.product-image-box .e-tag-image {position:absolute;top:0;right:0;}

/* brands*/
.brand-container { margin-bottom: 15px;}
.brand-container .brand-image { margin-bottom: 10px;}

/*User Account*/
.user-account { padding-top: 20px;}

/*Reviews*/
.first-to-review { font-size: small;}


/*mobile and tablet*/
@media (min-width: 0px) and (max-width:992px) {
    .site-container { margin-top: 90px !important; }
    .mobilemenu { color: #fff; font-size: 16px; padding-left: 0; height: 40px; }
        .mobilemenu a { color: #fff; padding-top: 10px; float: left; }
            .mobilemenu a:hover { text-decoration: none; }

    .navbar-right { float: right !important; }
        .navbar-right li { position: relative; display: inline-block; float: left; }
    .navbar-nav { margin: 0 0 0 0; }
    .navbar.navbar-inverse .container { margin-left: 0; margin-right: 0; width: 100%; }
    .left-menu { top: 90px !important; }
    .search-dropdown { min-width: 220px; }
    
}
/*tablet*/
@media (min-width: 768px) and (max-width:992px) {
    header .search-box { width: 240px; }
    .navigation .session {text-align: center;font-size:14px;line-height:37px;color: #ffffff;padding: 0;}
    .navigation .col-md-3:first-child .session {padding-left:0;}
    .product-con .product-image {text-align:center;position:relative;height:160px;}
}

/*mobile*/
@media (max-width:768px) {
    /*checkout*/
    .navigation { padding-top: 0;}
    #checkout-nav-buttons .btn-group{ padding-top: 10px;}
    .navigation .session {text-align: center;font-size:12px;line-height:37px;color: #ffffff;padding: 0;}
    .navigation .col-md-3:first-child .session {padding-left:0;}

    header { height: 40px; }
    .site-container { margin-top: 80px !important; }
    .left-menu { top: 80px !important; }

    .navbar-right li a { padding-top: 10px; padding-bottom: 10px; }

    .navbar-nav .open .dropdown-menu { position: absolute; float: left; right: 0; left: auto; width: auto; margin: 0 0 0; background-color: white; border: 0; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, .15); border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); box-shadow: 0 6px 12px rgba(0, 0, 0, .175); border-top-left-radius: 0; border-top-right-radius: 0; }

    header .logo a { padding-top: 10px; }
        header .logo a img { max-width: 110px; }

    .value-props .pull-right { display: none; }

    .search-box { width: 70%; margin-top: 2px; }
    #filter-container.collapse { display: none;}
    #filter-container.collapse.in { display: block;}

    .product-con .product-image {text-align:center;position:relative;min-height:200px;line-height:200px;}
    .product-con .product-info {border-right:none;}

    li a.notification {position:absolute;top:1px;right:2px;background:url(/Apps/Ecommerce/Content/Images/notification.png) no-repeat 0 0;width:24px;height:25px;color:#fff;font-size:12px;line-height:26px;padding:0;text-align:center;}
}


