﻿@using MrCMS.Helpers
@model List<MrCMS.Models.SortItem>
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}

@using (Html.BeginForm("SortSpecifications", "Product", FormMethod.Post))
{
    <fieldset>
        <legend>
            Sort Product Specifications
            <span class="btn-group  display-inline  pull-right">
                <button class="btn btn-primary" id="submit">
                    Save & Close</button>
            </span>
        </legend>

        @Html.Hidden("productId", ((MrCMS.Web.Apps.Ecommerce.Pages.Product) ViewBag.Product).Id)
        <ul id="sortable">
            @if (Model.Any())
            {
                for (var i = 0; i < Model.Count; i++)
                {
                    <li>
                        @Html.HiddenFor(model => model[i].Id)
                        @Html.HiddenFor(model => model[i].Order)
                        <i class="glyphicon glyphicon-resize-full"></i>&nbsp;&nbsp;
                        @Model[i].Name
                    </li>
                }
            }
            else
            {
                <li>No specifications to sort.</li>
            }
        </ul>
    </fieldset>
}
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/sorting.js"); }