﻿@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.OrderNote

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Add", "OrderNote", FormMethod.Post))
{
    <fieldset>
        <legend>Add Order Note
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add Order Note" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Order.Id)
        @Html.HiddenFor(x => x.User.Id)
        
        <div class="form-group">
            @Html.InlineCheckboxFor(x => x.ShowToClient, text: "Show to Customer")
        </div>
        
        <div class="form-group">
            @Html.LabelFor(x => x.Note)
            @Html.TextAreaFor(x => x.Note, new { @class = "form-control", style = "height:250px" })
        </div>

    </fieldset>
}