﻿@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.OrderNote

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Edit", "OrderNote", FormMethod.Post))
{
    <fieldset>
        <legend>
            Edit Order Note
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Save Changes" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Order.Id)
        @Html.HiddenFor(x => x.User.Id)
        @Html.InlineCheckboxFor(x => x.ShowToClient, text:"Show to Customer")
        <br />
        <br />
        @Html.LabelFor(x => x.Note)
        @Html.TextAreaFor(x => x.Note, new {@class = "form-control", style="height:250px"})

    </fieldset>
}