﻿@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order
           <hr />
<h4>Order Notes</h4>

<div class="row">
    <div class="col-lg-12">
        @if (Model.OrderNotes.Count == 0)
        {
            @:No lines.
         }
        else
        {
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Note
                        </th>
                        <th>Show to Customer?
                        </th>
                        <th>Added</th>
                        <th>Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var note in Model.OrderNotes)
                    {
                        <tr>
                            <td>
                                @note.Note
                            </td>
                            <td>
                                @note.ShowToClient
                            </td>
                            <td>
                                @note.CreatedOn
                            </td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink("Edit", "Edit", "OrderNote", new { id = note.Id }, new { @class = "btn btn-xs btn-default", data_toggle = "fb-modal" })
                                    @Html.ActionLink("Delete", "Delete", "OrderNote", new { id = note.Id }, new { @class = "btn btn-danger btn-xs", data_toggle = "fb-modal" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <br />
        <a href="@Url.Action("Add", "OrderNote", new { orderID = Model.Id })" class="btn btn-sm btn-default" data-toggle="fb-modal">Add Order Note</a>

    </div>
</div>
