﻿@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
@using MrCMS.Helpers
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "ProductVariant", new { id = "" }, FormMethod.Post))
{
    <fieldset>
        <legend>
            Add Product Variant
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add Product Variant" />
            </span>
        </legend>
        <div id="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                <li><a href="#images" data-toggle="tab">Featured Image</a></li>
                <li><a href="#sold-out" data-toggle="tab">Sold Out Options</a></li>
                <li><a href="#shipping-options" data-toggle="tab">Shipping Options</a></li>
                <li><a href="#download-options" data-toggle="tab" style="display:none" data-variant-type="Download">Download Options</a></li>
                <li><a href="#gift-card-options" data-toggle="tab" style="display:none" data-variant-type="GiftCard">Gift Card Options</a></li>
            </ul>
            <div class="tab-content">
                @{ Html.RenderPartial("Details", Model); }
                @{ Html.RenderPartial("Images", Model); }
                @{ Html.RenderPartial("SoldOut", Model); }
                @{ Html.RenderPartial("ShippingOptions", Model); }
                @{ Html.RenderPartial("DownloadOptions", Model); }
                @{ Html.RenderPartial("GiftCardOptions", Model); }
            </div>
        </div>
    </fieldset>
}
@{
    Html.IncludeCss("~/Areas/Admin/Content/Scripts/lib/select2-3.4.5/select2.css");
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/lib/select2-3.4.5/select2.min.js");
}
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/product-variant.js"); }