﻿@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductSpecificationAttribute
@{
    ViewBag.Title = "Product Specification Options";
}

<form>
     @Html.HiddenFor(x => x.Id)
    <fieldset>
        <legend>Options for @Model.Name attribute
            <span class="btn-group  display-inline  pull-right">
                <a href="@Url.Action("Index", "ProductSpecificationAttribute")" class="btn btn-default">Back</a>
                <a href="@Url.Action("Sort", "ProductSpecificationAttributeOption", new { attributeId=Model.Id })" class="btn btn-default" data-toggle="fb-modal">Sort</a>
                <a href="@Url.Action("Add", "ProductSpecificationAttributeOption", new { attributeId=Model.Id })" class="btn btn-primary"  data-toggle="fb-modal">Add Option</a>
            </span>
        </legend>
        @if(Model.Options.Count>0)
        {
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Name
                    </th>
                    <th>Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Options.OrderBy(x => x.DisplayOrder).ToList())
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", "ProductSpecificationAttributeOption", new { id = item.Id }, new { @class = "btn btn-xs btn-default", data_toggle = "fb-modal" })
                                @Html.ActionLink("Delete", "Delete", "ProductSpecificationAttributeOption", new { id = item.Id }, new { @class = "btn btn-xs btn-danger", data_toggle = "fb-modal" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <span>No options yet.</span>
        }
    </fieldset>
</form>
