﻿@model MrCMS.Web.Apps.Ecommerce.Entities.Tax.TaxRate

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Add", "TaxRate", FormMethod.Post))
{
    <fieldset>
        <legend>
            Add Tax Rate
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add Tax Rate" />
            </span>
        </legend>
        @Html.Hidden("source", ViewBag.Source as string)
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Code)
            @Html.TextBoxFor(x => x.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Code)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Percentage)
            @Html.TextBoxFor(x => x.Percentage, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Percentage)
        </div>
    </fieldset>
}