﻿@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.OrderRefund
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}

@using (Html.BeginForm("Add", "OrderRefund", FormMethod.Post))
{
    <fieldset>
        <legend>
            Add Order Refund
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add Order Refund" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Order.Id)
        @Html.HiddenFor(x => x.User.Id)
        <div class="form-group">
            @Html.LabelFor(x => x.Amount)
            @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Amount)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Note)
            @Html.TextAreaFor(x => x.Note, new { @class = "form-control", style = "height:250px" })
        </div>

    </fieldset>
}