﻿@using System.Collections.Generic
@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.Category
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            @Html.LabelFor(webpage => webpage.FeatureImage)<br />
            @Html.TextBoxFor(webpage => webpage.FeatureImage, new { @class = "media-selector" })
        </div>
        <div class="form-group">
            @Html.InlineCheckboxFor(x => x.ShowSubCategories)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            @Html.LabelFor(category => category.CategoryAbstract)
            @Html.TextAreaFor(category => category.CategoryAbstract, new { rows = 4, @class = "form-control" })
            @Html.ValidationMessageFor(category => category.CategoryAbstract)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-11">
        @Html.LabelFor(webpage => webpage.DefaultProductSearchSort)
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            @Html.DropDownListFor(webpage => webpage.DefaultProductSearchSort, ViewData["product-search-sort-options"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-xs-6">
        @Html.ActionLink(Resource("Sort products"), "Sort", "CategoryProducts", new { id = Model.Id }, new { @class = "btn btn-default" })
    </div>
</div>
@{ Html.RenderAction("HiddenSpecifications", "EcommerceSearchablePage", new { id = Model.Id });}
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/edit-category.js"); }
