﻿@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductSpecificationAttribute

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "ProductSpecificationAttribute", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Product Specification Atrribute
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete Atrribute" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        <p>
            Are you sure you want to delete the product specification atrribute @Model.Name ? Deleting atrribute can not be undone.
        </p>
        <div class="alert alert-warning">
            <strong>Warning:</strong> Deleting this specification attribute will delete all product specifications which have this attribute. It will also delete all options associated with this specification.
        </div>
    </fieldset>
}